body {
    margin:0;
    background-color: #e5e5f7;
    background-position: center;
    background-size: repeat;
    opacity: 1;
    background-image: url("https://images-ext-1.discordapp.net/external/leOhXL6r0jk8lmxbZ9GD2h9iR6t-vEMU4cxg0dBKytU/https/i.pinimg.com/originals/ad/0e/35/ad0e35fe071161771e22951f72794800.gif");
  }
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4597a5;
    position: fixed;
    top: 0;
    width: 100%;
  
  }
  
  li  {
    background: #189eb6;
    display: inline-block;
    padding: 10px;
  }

  li a {
    padding: 14px 16px;
  }

a  {
  text-decoration: none;
    color:black
  }
.header {
  font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button-container {
  display: flex;
}
